*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(248, 194, 44);
    border-radius: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    transition: all .3S ease;
}

nav ul li a{
    display:flex ;
    float: left;
}

nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    padding-left: 60px;
}

nav{
    display: flex;
    align-items: center;
}

.navbar ul{
    overflow: auto;

}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover,
nav ul li a.active {

    color: red;
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 301px;
}
#click{
    display: none;
}

@media (max-width: 900px){
    nav .menu-btn i{
        display: block;

    }
    #click:checked ~ .menu-btn i :before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        list-style: none;
        transition: all .3s ease;
    }
    #click:checked~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active{
        color: rgb(226, 123, 123);
        background: none;
    }
    .search{
        display: flex;
        justify-content: center;
        color: white;
        padding: 12px 75px;
    }
    
    


}